<div class="panel callout radius">
<%= div_for shout do %>
<% if current_user.email != nil %>
<a class="th">
<%= gravatar shout.user %></a>
<%end%>
<%= link_to shout.user.username , shout.user%>
shouted 
<div class="panel callout radius">
<%= render shout.content %>

<%= link_to time_ago_in_words(shout.created_at ), shout %> ago.
<% end %>
</div>
</div>