<!-- this is part of profile view listing user Tips -->
<table>

  <thead >

    <tr>
      <th>TIP TITLE  </th>
      
      <th>Condition name </th>
      <th>Tag</th>
      <th >---------------</th>
    </tr>
  </thead>

     <tbody>
     

      <tr>
        <td ><%= tip.title %></td>
        
        <td><%= tip.condition_name.name %></td>
        <td><%= tip.symptom_name.name %></td>

        <td><% for tag in tip.tags %>
         <%= link_to tag.name, tagged_url(:tag => tag.name) %>
         <% end %></td>
         
         
         
         <td><%= link_to 'Show', tip, class: 'button tiny radius success' %>
          <% if user_signed_in? %>
          <% if tip.user == current_user %>
          <%= link_to 'Edit', edit_tip_path(tip), class: 'button tiny radius success' %>
          <%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius alert' %></td>
          



          
          <% end %>

          <% end %>
          
        </tr>
        
        
      </tbody>
   </table>




