<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <div class="panel callout radius"><%= @tip.title %></div>
</p>
<div class="panel callout radius">
<p>
  <strong>Difficulty level:</strong>
  <%= @tip.difficulty_level %>
</p>

<p>
  <strong>Condition name:</strong>
  <%= @tip.condition_name.name %>
</p>

<p>
  <strong>Symptom name:</strong>
  <%= @tip.symptom_name.name %>
</p>

<p>
  <strong>Tip type:</strong>
  <%= @tip.tip_type.name %>
</p>
</div>
<div class="panel callout radius">
<p>
  <strong>What needed:</strong>
  <%= @tip.what_needed %>
</p>
</div>
<div class="panel callout radius">
<p>
  <strong>My tip:</strong>
  <%= @tip.my_tip %>

</p>
</div>
<p>
  <strong>Tags:</strong>
  <div class="panel callout radius"><%=raw @tip.tags.map(&:name).map { |t| t }.join(', ')%></div>
     <div class='spread'>  <div class='twshare left'>   <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="fibrotr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  </div>  
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="https://www.justgiving.com/fibrotrust" layout="button_count" show_faces="false" width="450" font=""></fb:like></div>
</p>


<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
